<html>
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href='{{STATIC_URL}}CombateEspacial/diseno.css' rel='stylesheet' type='text/css'/>
		<title>Recuperar Contraseña</title>
	</head>
	
	<body>
		<div align="center"><img src="{{STATIC_URL}}CombateEspacial/titulo.gif"></div><br>
		<div align = 'center'>
		
		<h2>Exito</h2>
		
		<p>
			Su nueva contraseña es : {{aviso}}
		</p>
		
		<a href='/CombateEspacial/ingresar/none/'> Ingresar </a>
		
		</div>
	</body>
</html>
