<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href='{{STATIC_URL}}CombateEspacial/diseno.css' rel='stylesheet' type='text/css'/>
        <title>Sesion Cerrada</title>
    </head>
    <body>
        <div align="center"><img src="{{STATIC_URL}}CombateEspacial/titulo.gif"></div><br>
        <h1>Sesion Cerrada Exitosamente</h1>
        
        <p>   
            <a class="reingresar" href="/CombateEspacial/ingresar/none/" >Ingresar de nuevo</a><br>
            <a class="reingresar" href="/">Página principal</a>
        </p>
        
        <p align = 'center' style='font-style: bold; font-size: 11px; position:absolute; top: 89%; left: 41%;'> Desarrollado por: <br/> Jefferson Garzon <br/> Juan Camilo Martha <br/> Universidad Distrital Francisco de Caldas</p>
        
    </body>    
</html>
