<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Informacion Usuario</title>
        <link href='{{STATIC_URL}}CombateEspacial/diseno.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        <div align="center"><img src="{{STATIC_URL}}CombateEspacial/titulo.gif"></div><br>
        <a class="logout" href="/CombateEspacial/abandonar/">Salir</a>
        <div align="center">
        <h1>Datos Personales</h1>
        
        {% if aviso == 'infoactualizada' %}
			<h3>Datos Actualizados Correctamente</h3>
		{% endif %}	
                
        <table class="Info" cellpadding="5">
            
            <tr>
               <td class="etq"> Nick:</td>
               <td>{{ jugador.user.username }}</td>
           </tr>
            
            <tr>
                <td class="etq">Nombre:</td>
                <td> {{ jugador.user.first_name }} </td>
            </tr>
            
            <tr>
                <td class="etq">Apellido:</td>
                <td>{{ jugador.user.last_name }}</td>
           </tr>
           <tr>
               <td class="etq"> Genero:</td>
               <td>{{ jugador.genero }}</td>
           </tr>
           
           <tr>
               <td class="etq"> Puntaje:</td>
               <td>{{ jugador.puntaje }}</td>
           </tr>
           
           <tr>
               <td><input type="button" id="btnSalas" name="btnSalas" value="Ir Salas" onclick="location.href = '/CombateEspacial/salas/none/'"/> </td>
               <td><input type="button" id="btnEditar" name="btnEditar" value="Edita Info" onclick="location.href = '/CombateEspacial/editarInfo/none/'"/> </td>
               <td align="center">
                    <input type="button" name="txtPuntajes" id="txtPuntajes" value="Ver más altos puntajes" onclick=" location.href = '/CombateEspacial/records/'"/>
               </td>
           </tr>
           
        </table>    
        </div> 
        
        <p align = 'center' style='font-style: bold; font-size: 11px; position:absolute; top: 89%; left: 41%;'> Desarrollado por: <br/> Jefferson Garzon <br/> Juan Camilo Martha <br/> Universidad Distrital Francisco de Caldas</p>
        
    </body>
</html>
