<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Instrucciones de Juego</title>
        <link href='{{STATIC_URL}}CombateEspacial/diseno.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <div align="center"><img src="{{STATIC_URL}}CombateEspacial/titulo.gif"></div><br>
        <a class="pagPrincipal" href="/CombateEspacial/salas/none/">Ir a Salas</a>
        
        <div align="center">
            <p>Con <img src="{{STATIC_URL}}CombateEspacial/teclas/arriba.jpg"> acelera.</p>
            <p>Con <img src="{{STATIC_URL}}CombateEspacial/teclas/abajo.jpg"> desacelera.</p>
            <p>Con <img src="{{STATIC_URL}}CombateEspacial/teclas/derecha.jpg"> rota a la derecha.</p>
            <p>Con <img src="{{STATIC_URL}}CombateEspacial/teclas/izquierda.jpg"> rota a la izquierda.</p>
            <p>Con <img src="{{STATIC_URL}}CombateEspacial/teclas/barra.jpg"> dispara.</p>
            <p>Con <img src="{{STATIC_URL}}CombateEspacial/teclas/ctrl.jpg"> sale el escudo.</p>
        </div>
        
        <p align = 'center' style='font-style: bold; font-size: 11px; position:absolute; top: 89%; left: 41%;'> Desarrollado por: <br/> Jefferson Garzon <br/> Juan Camilo Martha <br/> Universidad Distrital Francisco de Caldas</p>
        
    </body>
</html>
